extends layout

block content
	h1 Ajax Countries
	form#search-country
		input#search-input(type='text', name='country-search')
		button#search-button(type='button') Filter
	button#button-load-countries Load All Countries
	ol#countries-list